@font-face {
	font-family: 'Roboto-Bold';
	src: url(Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto-Italic';
	src: url(Roboto/Roboto-LightItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto-Thin';
	src: url(Roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	src: url(Roboto/Roboto-Regular.ttf) format('truetype');
}
.bg-color {
	background-color: #1f2937;
}
.container {
	padding-top: 5px;
	padding-left: 100px;
	height: 50vh;
}
a {
	text-decoration: none;
	color: #e5e7eb;
}
.row {
	display: flex;
}
.item {
	flex: 1;
}
.link {
	display: flex;
	justify-content: space-evenly;
}
.main-text {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
}
.small-text {
	font-family: 'Roboto-Thin', sans-serif;
	font-size: 18px;
	color: #e5e7eb;
}
.logo {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #f9faf8;
}
#top-margin {
	margin-top: 3%;
}
.blue {
	background-color: #3882f6;
	color: white;
}
.btn {
	border-radius: 1ch;
	border: solid #3882f6;
}
.center {
	text-align: center;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
}
.img-center {
	display: flex;
	justify-content: center;
	gap: 16px;
}
.img-item {
	border-radius: 5%;
}
.caption {
	display: flex;
	justify-content: center;
	gap: 96px;
	font-family: 'Roboto', sans-serif;
}
#quote-section {
	background-color: #e5e7eb;
	display: flex;
	align-items: center;
}
.quote {
	font-family: 'Roboto-Italic', sans-serif;
	font-size: 36px;
	color: #1f2937;
	margin-top: 100px;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 100px;
}
