@font-face {
	font-family: 'Roboto-Bold';
	src: url(Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto-Italic';
	src: url(Roboto/Roboto-LightItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto-Thin';
	src: url(Roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	src: url(Roboto/Roboto-Regular.ttf) format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-color {
	background-color: #1f2937;
}
.header {
	padding-top: 5px;
	padding-left: 100px;
}
.container {
	padding-top: 5px;
	padding-left: 100px;
	height: 50vh;
}
a {
	text-decoration: none;
	color: #e5e7eb;
	list-style: none;
}
li {
	list-style-type: none;
}
.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item {
	flex: 1;
	margin-right: 100px;
}
.link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 100px;
	margin-right: 100px;
	gap: 16px;
}
.main-text {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
}
.small-text {
	font-family: 'Roboto-Thin', sans-serif;
	font-size: 18px;
	color: #e5e7eb;
}
.logo {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #f9faf8;
}
.bottom-margin {
	margin-bottom: 3%;
}
#figure-margin {
	margin-top: 3%;
	margin-bottom: 3%;
}
.blue {
	background-color: #3882f6;
	color: white;
}
.btn {
	border-radius: 1ch;
	border: solid #3882f6;
}
.center {
	text-align: center;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
}
.img-center {
	display: flex;
	justify-content: center;
	gap: 16px;
}
.img-item {
	border-radius: 5%;
}
.caption {
	display: flex;
	justify-content: center;
	gap: 64px;
	font-family: 'Roboto-Thin', sans-serif;
}
#quote-section {
	background-color: #e5e7eb;
	display: flex;
	align-items: center;
}
.quote {
	font-family: 'Roboto-Italic', sans-serif;
	font-size: 36px;
	color: #1f2937;
	margin-top: 100px;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 100px;
}
#action-call {
	background-color: #3882f6;
	font-family: 'Roboto', sans-serif;
	color: white;
	margin-top: 100px;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
	gap: 96px;
	border-radius: 5px;
}
.action-call-element {
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
}
.action-btn {
	border-radius: 1ch;
	border: 1px solid white;
}
.footer-height {
	height: 10vh;
}
.copyright {
	text-align: center;
	font-family: 'Roboto-Thin', sans-serif;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
.small-action-text {
	font-family: 'Roboto-Thin', sans-serif;
	color: #e5e7eb;
}
.top {
	font-family: 'Roboto', sans-serif;
	color: black;
}
